@import './_config';
@import './_variables';

body {
		background-color: $color-primary;
		font-family: 'Open sans', sans-serif;
}

.todo-container {
		margin-top: 3rem;

		.form-control {
				box-shadow: none;
				background-color: darken($color-border, 60%);
				border: 0;
				height: 6rem;
				color: darken($color-light, 30%);
		}

		.list-data {
				padding: 0;
				margin-top: 2rem;
				list-style-type: none;
        overflow: scroll;
        height: 38rem;

				li {
            display: flex;
            justify-content: space-between;
            &:first-child {
                border-top: $tiny-border darken($color-border, 50%);
                border-bottom: $tiny-border darken($color-border, 50%);
            }
						border-bottom: $tiny-border darken($color-border, 50%);
						color: darken($color-light, 20%);
						padding: 2rem 0;
						font-size: $big-font;
            transition: .3s ease all;

            &:hover {
                background-color: darken($color-border, 50%);
                padding-left: 1rem;
                .list-delete {
                    display: block;
                }
            }

            .list-delete {
                display: none;
                .delete-btn {
                    padding-right: 1rem;
                }
            }
				}
		}
}
