html,
body {
    height: 100%;
}

body {
    background: tomato;
}

.container {
    width: 90%;
    margin: 0 auto;
}

label {
    color: #fff;
    background-color: #ffcc00;
    border-radius: .4rem;
    width: 4rem;
    margin: 0 auto;
    text-align: center;
    margin-top: .8rem;
}

.input {
    margin-top: .8rem;
    box-shadow: none !important;
    height: 3.4rem;
    border-radius: .4rem;
    background-color: #e24a2e;
    color: #fff;
    border: 0;
}

.input::-webkit-input-placeholder {
    color: #fff;
    font-weight: lighter;
}

.input:focus {
    border-color: #fff;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: square;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
}

ul li {
    border-radius: .4rem;
    height: 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    background-color: #ffcc00;
    color: #f7f7f7;
    text-shadow: 0px .5px 0px #333;
    font-size: 1.4rem;
}

ul li .close:hover {
    cursor: pointer;
}

.divider:after {
    display: block;
    content: '';
    border-bottom: 1px dashed #ffcc00;
    margin: 1.2rem 0;
}